<div class="container">
  <h1>検索結果一覧</h1>
    <!--検索結果一覧-->
    <% if @model == 'post'%>
      <%= render 'posts/index', posts: @records %>
    <% else %>
      <% @records.each do |user| %>
        <%= render 'users/user_card', user: user %>
      <% end %>
    <% end %>
</div>
