<div class="container">
  <div class="row title">
    <h3 class="mx-auto">検索結果</h3>
  </div>
    <!--検索結果一覧-->
    <% if @model == 'post'%>
      <%= render 'posts/index', posts: @records %>
    <% else %>
      <% @records.each do |user| %>
        <%= render 'users/user_card', user: user %>
      <% end %>
    <% end %>
</div>
