<div class="container">
  <div class="row title">
    <h3 class="mx-auto">SONAEについて</h3>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      
    </div>
    <div class="col-sm-6">
      <p>みなさんは災害への備えはしていますか？
      日本は、地理的特性や気候変動の影響により
      災害の影響を受けやすい国と言えます。
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      
    </div>
    <div class="col-sm-6">
      <p>防災に関する考え方として
      「自助」「共助」「公助」という考え方があります
      しかし「公助」にも限界があり、災害が大規模になるほど
      救助や救援が遅れる可能性があります。
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      
    </div>
    <div class="col-sm-6">
      <p>自分の身は自分で守り、地域で助け合う
      この「自助」「共助」が特に大切になると思います
      自分に出来る事は何があるのか？
      そんな事を考えるきっかけの場になれば幸いです
      </p>
    </div>
  </div>
</div>