/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    background: linear-gradient(transparent 80%, #fd7e00 50%);
    color: white;
}
h4 {
    color: white;
}

.title {
    background-color: black;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 10px;
}

.fas {
    font-size: 20px;
}

.far {
    font-size: 20px;
}

// skipper
#box{
  height: 300px;
}
.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}

// pagination
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色*/
}


.notice {
  backgroud-color: #fd7e00;
  color : #fff;
  text-align: center;
}
.alert {
  backgroud-color: #ff0000;
  color : #fff;
  text-align: center;
}
